:root {
  --body-bgr-color: #f5f5f5;
  --body-color: #2e2f42;

  --menu-item-accent: #404bbf;
  --menu-color: #434455;

  --form-bgr-color: #ffffff;
  --item-bgr-color: #f6f6fe;

  --input-normal-color: #808080;
  --input-hover-color: #808080;
  --input-active-color: #000000;
  --input-disable-color: #808080;

  --input-border-normal-color: #808080;
  --input-border-hover-color: #000000;
  --input-border-active-color: #4e75ff;
  --input-border-disable-color: #808080;

  --button-color: #ffffff;
  --button-disable-color: #989898;
  --button-bgr-color: #4e75ff;
  --button-hover-bgr-color: #6c8cff;
  --button-disable-bgr-color: #cfcfcf;

  --alert-bgr-color: #fc5a5a;
  --alert-color: #fafafb;
}
