.border-loader {
  width: 372px;
  height: 12px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translate(-50%, 0%);
}

.loader {
  display: none;
  height: 12px;
  width: 372px;
  border: 1px solid var(--button-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #94a6e7;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
