@import url('./utils/variables.css');
@import url('./utils/visually-hidden.css');

@import url('./base/reset.css');

@import url('./base/common.css');
@import url('./base/container.css');
@import url('./layout/loader.css');
@import url('./layout/search-images-form.css');
@import url('./layout/gallery-cards.css');
@import url('./layout/gallery-pagination.css');
@import url('./layout/simple-lightbox-window.css');

:root {
  font-family: 'Montserrat', sans-serif;
  color: var(--body-color);
  background-color: var(--body-bgr-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
